<div>
    <h2 id="page-heading">
        <span jhiTranslate="btpprojectsApp.orders.home.title">Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders" [routerLink]="['/orders/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="btpprojectsApp.orders.home.createLabel">
            Create a new Orders
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
        <span jhiTranslate="btpprojectsApp.orders.home.notFound">No orders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orders?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idOrders"><span jhiTranslate="btpprojectsApp.orders.idOrders">Id Orders</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordersDesc"><span jhiTranslate="btpprojectsApp.orders.ordersDesc">Orders Desc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalht"><span jhiTranslate="btpprojectsApp.orders.totalht">Totalht</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totaltva"><span jhiTranslate="btpprojectsApp.orders.totaltva">Totaltva</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalttc"><span jhiTranslate="btpprojectsApp.orders.totalttc">Totalttc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordersDate"><span jhiTranslate="btpprojectsApp.orders.ordersDate">Orders Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="expectedDelivery"><span jhiTranslate="btpprojectsApp.orders.expectedDelivery">Expected Delivery</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tvamoyenne"><span jhiTranslate="btpprojectsApp.orders.tvamoyenne">Tvamoyenne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryId"><span jhiTranslate="btpprojectsApp.orders.delivery">Delivery</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordersProductsId"><span jhiTranslate="btpprojectsApp.orders.ordersProducts">Orders Products</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordersServicesId"><span jhiTranslate="btpprojectsApp.orders.ordersServices">Orders Services</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reglementId"><span jhiTranslate="btpprojectsApp.orders.reglement">Reglement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orders of orders ;trackBy: trackId">
                    <td><a [routerLink]="['/orders', orders.id, 'view']">{{ orders.id }}</a></td>
                    <td>{{ orders.idOrders }}</td>
                    <td>{{ orders.ordersDesc }}</td>
                    <td>{{ orders.totalht }}</td>
                    <td>{{ orders.totaltva }}</td>
                    <td>{{ orders.totalttc }}</td>
                    <td>{{ orders.ordersDate | date:'mediumDate' }}</td>
                    <td>{{ orders.expectedDelivery | date:'mediumDate' }}</td>
                    <td>{{ orders.tvamoyenne }}</td>
                    <td>
                        <div *ngIf="orders.deliveryId">
                            <a [routerLink]="['/delivery', orders.deliveryId , 'view']" >{{ orders.deliveryId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orders.ordersProductsId">
                            <a [routerLink]="['/orders-products', orders.ordersProductsId , 'view']" >{{ orders.ordersProductsId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orders.ordersServicesId">
                            <a [routerLink]="['/orders-services', orders.ordersServicesId , 'view']" >{{ orders.ordersServicesId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orders.reglementId">
                            <a [routerLink]="['/reglement', orders.reglementId , 'view']" >{{ orders.reglementId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/orders', orders.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/orders', orders.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orders)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="orders?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
