<div>
    <h2 id="page-heading">
        <span jhiTranslate="btpprojectsApp.provider.home.title">Providers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-provider" [routerLink]="['/provider/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="btpprojectsApp.provider.home.createLabel">
            Create a new Provider
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="providers?.length === 0">
        <span jhiTranslate="btpprojectsApp.provider.home.notFound">No providers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="providers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idProvider"><span jhiTranslate="btpprojectsApp.provider.idProvider">Id Provider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="providerName"><span jhiTranslate="btpprojectsApp.provider.providerName">Provider Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="providerLogo"><span jhiTranslate="btpprojectsApp.provider.providerLogo">Provider Logo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordersId"><span jhiTranslate="btpprojectsApp.provider.orders">Orders</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productsId"><span jhiTranslate="btpprojectsApp.provider.products">Products</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reglementId"><span jhiTranslate="btpprojectsApp.provider.reglement">Reglement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let provider of providers ;trackBy: trackId">
                    <td><a [routerLink]="['/provider', provider.id, 'view']">{{ provider.id }}</a></td>
                    <td>{{ provider.idProvider }}</td>
                    <td>{{ provider.providerName }}</td>
                    <td>
                        <a *ngIf="provider.providerLogo" (click)="openFile(provider.providerLogoContentType, provider.providerLogo)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="provider.providerLogo">{{ provider.providerLogoContentType }}, {{ byteSize(provider.providerLogo) }}</span>
                    </td>
                    <td>
                        <div *ngIf="provider.ordersId">
                            <a [routerLink]="['/orders', provider.ordersId , 'view']" >{{ provider.ordersId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="provider.productsId">
                            <a [routerLink]="['/products', provider.productsId , 'view']" >{{ provider.productsId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="provider.reglementId">
                            <a [routerLink]="['/reglement', provider.reglementId , 'view']" >{{ provider.reglementId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/provider', provider.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/provider', provider.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(provider)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="providers?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
