<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mode-paiement-heading" jhiTranslate="btpprojectsApp.modePaiement.home.createOrEditLabel">Create or edit a Mode Paiement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.modePaiement.idModePaiement" for="field_idModePaiement">Id Mode Paiement</label>
                    <input type="number" class="form-control" name="idModePaiement" id="field_idModePaiement"
                           formControlName="idModePaiement"/>
                    <div *ngIf="editForm.get('idModePaiement')!.invalid && (editForm.get('idModePaiement')!.dirty || editForm.get('idModePaiement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idModePaiement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idModePaiement')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.modePaiement.modePaiement" for="field_modePaiement">Mode Paiement</label>
                    <input type="text" class="form-control" name="modePaiement" id="field_modePaiement"
                           formControlName="modePaiement"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.modePaiement.reglement" for="field_reglement">Reglement</label>
                    <select class="form-control" id="field_reglement" name="reglement" formControlName="reglementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reglementOption.id" *ngFor="let reglementOption of reglements; trackBy: trackById">{{ reglementOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
