<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-products-heading" jhiTranslate="btpprojectsApp.products.home.createOrEditLabel">Create or edit a Products</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.products.idProducts" for="field_idProducts">Id Products</label>
                    <input type="number" class="form-control" name="idProducts" id="field_idProducts"
                           formControlName="idProducts"/>
                    <div *ngIf="editForm.get('idProducts')!.invalid && (editForm.get('idProducts')!.dirty || editForm.get('idProducts')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idProducts')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idProducts')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.products.productsDesc" for="field_productsDesc">Products Desc</label>
                    <input type="text" class="form-control" name="productsDesc" id="field_productsDesc"
                           formControlName="productsDesc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.products.recommendedPrice" for="field_recommendedPrice">Recommended Price</label>
                    <input type="number" class="form-control" name="recommendedPrice" id="field_recommendedPrice"
                           formControlName="recommendedPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.products.ordersProducts" for="field_ordersProducts">Orders Products</label>
                    <select class="form-control" id="field_ordersProducts" name="ordersProducts" formControlName="ordersProductsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ordersProductsOption.id" *ngFor="let ordersProductsOption of ordersproducts; trackBy: trackById">{{ ordersProductsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
