<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-orders-products-heading" jhiTranslate="btpprojectsApp.ordersProducts.home.createOrEditLabel">Create or edit a Orders Products</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.ordersProducts.idOrdersProducts" for="field_idOrdersProducts">Id Orders Products</label>
                    <input type="number" class="form-control" name="idOrdersProducts" id="field_idOrdersProducts"
                           formControlName="idOrdersProducts"/>
                    <div *ngIf="editForm.get('idOrdersProducts')!.invalid && (editForm.get('idOrdersProducts')!.dirty || editForm.get('idOrdersProducts')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idOrdersProducts')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idOrdersProducts')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.ordersProducts.unitPrice" for="field_unitPrice">Unit Price</label>
                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                           formControlName="unitPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.ordersProducts.quantite" for="field_quantite">Quantite</label>
                    <input type="number" class="form-control" name="quantite" id="field_quantite"
                           formControlName="quantite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.ordersProducts.tva" for="field_tva">Tva</label>
                    <input type="number" class="form-control" name="tva" id="field_tva"
                           formControlName="tva"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.ordersProducts.totalHT" for="field_totalHT">Total HT</label>
                    <input type="number" class="form-control" name="totalHT" id="field_totalHT"
                           formControlName="totalHT"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.ordersProducts.montantTVA" for="field_montantTVA">Montant TVA</label>
                    <input type="number" class="form-control" name="montantTVA" id="field_montantTVA"
                           formControlName="montantTVA"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.ordersProducts.totalTTC" for="field_totalTTC">Total TTC</label>
                    <input type="number" class="form-control" name="totalTTC" id="field_totalTTC"
                           formControlName="totalTTC"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
