<div>
    <h2 id="page-heading">
        <span jhiTranslate="btpprojectsApp.ordersProducts.home.title">Orders Products</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders-products" [routerLink]="['/orders-products/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="btpprojectsApp.ordersProducts.home.createLabel">
            Create a new Orders Products
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ordersProducts?.length === 0">
        <span jhiTranslate="btpprojectsApp.ordersProducts.home.notFound">No ordersProducts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ordersProducts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idOrdersProducts"><span jhiTranslate="btpprojectsApp.ordersProducts.idOrdersProducts">Id Orders Products</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unitPrice"><span jhiTranslate="btpprojectsApp.ordersProducts.unitPrice">Unit Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantite"><span jhiTranslate="btpprojectsApp.ordersProducts.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tva"><span jhiTranslate="btpprojectsApp.ordersProducts.tva">Tva</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalHT"><span jhiTranslate="btpprojectsApp.ordersProducts.totalHT">Total HT</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantTVA"><span jhiTranslate="btpprojectsApp.ordersProducts.montantTVA">Montant TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalTTC"><span jhiTranslate="btpprojectsApp.ordersProducts.totalTTC">Total TTC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ordersProducts of ordersProducts ;trackBy: trackId">
                    <td><a [routerLink]="['/orders-products', ordersProducts.id, 'view']">{{ ordersProducts.id }}</a></td>
                    <td>{{ ordersProducts.idOrdersProducts }}</td>
                    <td>{{ ordersProducts.unitPrice }}</td>
                    <td>{{ ordersProducts.quantite }}</td>
                    <td>{{ ordersProducts.tva }}</td>
                    <td>{{ ordersProducts.totalHT }}</td>
                    <td>{{ ordersProducts.montantTVA }}</td>
                    <td>{{ ordersProducts.totalTTC }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/orders-products', ordersProducts.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/orders-products', ordersProducts.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ordersProducts)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ordersProducts?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
