<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-delivery-heading" jhiTranslate="btpprojectsApp.delivery.home.createOrEditLabel">Create or edit a Delivery</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.delivery.idDelivery" for="field_idDelivery">Id Delivery</label>
                    <input type="number" class="form-control" name="idDelivery" id="field_idDelivery"
                           formControlName="idDelivery"/>
                    <div *ngIf="editForm.get('idDelivery')!.invalid && (editForm.get('idDelivery')!.dirty || editForm.get('idDelivery')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idDelivery')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idDelivery')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.delivery.deliveryDescription" for="field_deliveryDescription">Delivery Description</label>
                    <input type="text" class="form-control" name="deliveryDescription" id="field_deliveryDescription"
                           formControlName="deliveryDescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.delivery.deliveryDate" for="field_deliveryDate">Delivery Date</label>
                    <div class="input-group">
                        <input id="field_deliveryDate" type="text" class="form-control" name="deliveryDate" ngbDatepicker #deliveryDateDp="ngbDatepicker" formControlName="deliveryDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deliveryDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.delivery.subTotal" for="field_subTotal">Sub Total</label>
                    <input type="number" class="form-control" name="subTotal" id="field_subTotal"
                           formControlName="subTotal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.delivery.vatamount" for="field_vatamount">Vatamount</label>
                    <input type="number" class="form-control" name="vatamount" id="field_vatamount"
                           formControlName="vatamount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.delivery.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btpprojectsApp.delivery.reglement" for="field_reglement">Reglement</label>
                    <select class="form-control" id="field_reglement" name="reglement" formControlName="reglementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reglementOption.id" *ngFor="let reglementOption of reglements; trackBy: trackById">{{ reglementOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
