<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ordersServices">
            <h2><span jhiTranslate="btpprojectsApp.ordersServices.detail.title">Orders Services</span> {{ ordersServices.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btpprojectsApp.ordersServices.idOrdersServices">Id Orders Services</span></dt>
                <dd>
                    <span>{{ ordersServices.idOrdersServices }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectsApp.ordersServices.tarifJournalier">Tarif Journalier</span></dt>
                <dd>
                    <span>{{ ordersServices.tarifJournalier }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectsApp.ordersServices.joursHomme">Jours Homme</span></dt>
                <dd>
                    <span>{{ ordersServices.joursHomme }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders-services', ordersServices.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
